.search-box {
  display:       grid;
  grid-template: auto/1fr auto;
  grid-gap:      0 20px;

  &__radio {
    &.MuiFormGroup-root {
      display:       grid;
      grid-template: auto/repeat(2, auto);
      grid-gap:      20px;
    }
  }
}