@import "../../styles/services/mixins";

.edit-popup {
  &__form {
    display: grid;
    grid-template: auto/auto;
    grid-gap: 10px 0;
    padding-top: 20px;
  }

  &__controls {
    @include display-flex(row, center, space-between);
  }
}
