.countries {
  &__header {
    display:       grid;
    grid-template: auto/auto 1fr;
    grid-gap:      0 40px;
    align-items: center;
    margin-bottom: 20px;

    .MuiTextField-root {
      width: 100%;
    }
  }
}