@mixin inc-click-area($px: 10px) {
  position: relative;
  &:after {
    content:  '';
    position: absolute;
    top:      -$px; bottom: -$px;
    left:     -$px; right: -$px;
  }
}

@mixin display-flex($direction: row, $align: flex-start, $justify: flex-start) {
  display:         flex;
  flex-direction:  $direction;
  align-items:     $align;
  justify-content: $justify;
}

@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  &:before {
    display:     block;
    content:     "";
    width:       100%;
    padding-top: ($height / $width) * 100%;
  }
  .aspect-ratio {
    position:   absolute;
    top:        0;
    left:       0;
    right:      0;
    bottom:     0;
    width:      100%;
    height:     100%;
    overflow:   hidden;
    object-fit: cover;
  }
}

@mixin w-from($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

@mixin w-to($screen) {
  @media (max-width: $screen - 1px) {
    @content;
  }
}

@mixin w-range($screen1, $screen2) {
  @media (min-width: $screen1) and (max-width: $screen2 - 1px) {
    @content;
  }
}

@mixin hover() {
  @media screen and (hover: hover) {
    &:hover {
      @content;
    }
  }
}


@mixin focus() {
  @media screen and (hover: hover) {
    &:focus {
      @content;
    }
  }
}