$screen-sm:            320px;
$screen-md:            768px;
$screen-lg:            1280px;
$screen-xl:            1440px;

$transition-slow:      .35s;
$transition-normal:    .25s;
$transition-medium:    .15s;
$transition-fast:      .1s;

$transition-hover-on:  $transition-fast;
$transition-hover-off: $transition-slow;

$font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$color-accent:         #DAA520;
$color-black:          black;

$color-text-default:   $color-black;
$color-link-hover:     $color-accent;
