@import '../../styles/services/mixins.scss';

.sidebar {
  @include display-flex(row, center);
  padding:    0 20px;
  height:     60px;
  box-shadow: 0 5px 5px -5px #333;

  &__logo {
    margin-left: 20px;
  }
}